body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}

.Background_Player {
  background: rgb(65, 0, 80);
  background: linear-gradient(
    90deg,
    rgba(65, 0, 80, 1) 0%,
    rgba(76, 0, 143, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 719px;
  padding: 70px;
}

.Player_Information {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.Player_Title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 30px;
  padding: 20px;
}

.Descreption {
  font-size: 30px;
}

.Player__Information__Table th {
  width: 500px;
  background-color: rgb(241, 240, 240);
}

.Descreption th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #aa0486;
  color: white;
  border-radius: 4px;
}

.Items {
  font-size: 25px;
}

.Items th {
  padding-top: 12px;
  padding-bottom: 12px;
}
